
<!-- 页面正常滚动 -->
</div>
<!-- 页面正常滚动end -->
</div>
</div>
<!--右侧部分结束-->
</div>

<!-- 全局js -->
<script src="/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/js/plugins/layer/layer.min.js"></script>

<!-- 自定义js -->
<script src="/js/hAdmin.js?v=4.1.0"></script>
<script src="/js/content.js?v=1.0.0"></script>
<!-- 第三方插件 -->
<script src="/js/plugins/pace/pace.min.js"></script>
<!-- markdown -->
<script type="text/javascript" src="/js/plugins/markdown/markdown.js"></script>
<script type="text/javascript" src="/js/plugins/markdown/to-markdown.js"></script>
<script type="text/javascript" src="/js/plugins/markdown/bootstrap-markdown.js"></script>
<script type="text/javascript" src="/js/plugins/markdown/bootstrap-markdown.zh.js"></script>
<!-- 富文本 -->
<script src="/js/plugins/summernote/summernote.min.js"></script>
<script src="/js/plugins/summernote/summernote-zh-CN.js"></script>

<!-- DROPZONE -->
<script src="/js/plugins/dropzone/dropzone.js"></script>


</body>

</html>