       
       
       <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <i class="fa fa-area-chart"></i>
                                        <strong class="font-bold">hAdmin</strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">hAdmin
                        </div>
                    </li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">分类</span>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">主页</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">前台</span>
                        </a>
                    </li>

                    <li class="line dk"></li>

                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">博客</span>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/category">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">博客分类</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/details">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">博客详情</span>
                        </a>
                    </li>

                    <li class="line dk"></li>

                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">媒体</span>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/music">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">音乐</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/picture">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">图片</span>
                        </a>
                    </li>
                   


                  

                    <li class="line dk"></li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->