<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#"><i class="fa fa-bars"></i>
            </a>


        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <%=data.userinfo.username%>
                </a>

            </li>
            <li class="dropdown">
                <a href="/admin/out" class="btn ">退出登陆</a>
            </li>

        </ul>
    </nav>